<div id="message_<%= message.id %>" class="<%= position %>">
  <p class="<%= animate ? 'animate' : ''%>"><%= message.text %></p>
  <div class="images <%= animate ? 'animate' : ''%>">
    <% if message.images.attached? %>
      <% message.images.each do |image| %>
        <div class="<%= position %>">
          <%= image_tag url_for(image) %>
        </div>  
      <% end %>
    <% end %>
  </div>
</div>
