<%= turbo_frame_tag "main" do %>
  <%= turbo_stream_from "#{current_user.id}-chats" %>
  <main class="container">
    <%= render current_user%>
    <div id="users-chats">
      <% @open_chats.each do |chat| %>
        <%= render chat, label: chat.label(current_user) %>
      <% end %>
    </div>
    <%= render "layouts/navbar" %>
  </main>
<% end %>