<div data-controller="message">
  <%= render "layouts/errors", entity: message %>
  <%= form_with model: message, url: chat_messages_path(receiver_id), method: :post, data: {turbo_frame: "main"}, class: "input_container" do |form| %>
    <%= form.text_field :text, autocomplete: "off",  placeholder: "Write a message...", data: { message_target: "text" } %>
    <%= form.hidden_field :receiver_id, value: receiver_id %>
    <div>
      <% message.images.each do |image| %>
        <%= form.hidden_field :images, multiple: true, value: image.signed_id %>
      <% end %>

      <%= form.file_field :images, multiple: true, id: "file-input", class: "file_input" %>
      <label for="file-input" class="form_btn"> + </label>
    </div>
    <%= button_tag type: "submit", data: { message_target: "submit" } do %>
      Send
    <% end %>
  <% end %>
</div>

