<div data-controller="message">
  <%= render "layouts/errors", entity: message %>
  <%= form_with model: message, url: chat_messages_path(receiver_id), method: :post, data: {turbo_frame: "main"}, class: "input_container" do |form| %>
    <%= form.text_field :text, autocomplete: "off",  placeholder: "Write a message...", data: { message_target: "text" } %>
    <%= form.hidden_field :receiver_id, value: receiver_id %>
    <%= form.submit "Send >", data: { message_target: "submit" } %>
  <% end %>
</div>

