<%= turbo_frame_tag "main" do %>
  <main class="container chat">
    <%= turbo_stream_from "chat-#{@chat.id}-messages"%>
    <h4><%= @chat.label(current_user) %></h4>
    
    <div class="messages" data-controller="scroll-down-when-new-message">
      <%= turbo_frame_tag "messages" do %>
        <% @chat.messages.each do |message| %>
          <%= render "messages/message", message: message %>
        <% end %>
      <% end %>
    </div>

    <%= turbo_frame_tag "message_form" do %>
      <%= render "chats/message_form", message: current_user.sent_messages.new, receiver_id: @chat.id %>
    <% end %>
  </main>
<% end %>