<%= turbo_frame_tag "main" do %>
  <% content_for :title, @chat.label(current_user)%>
  <% content_for :favicon, "/link_avatar.png"%>
  <main class="container chat" data-controller="scroll-down-when-new-message">
    <%= turbo_stream_from "chat-#{@chat.id}-messages" %>
    <h4 class="chat_title"><%= @chat.label(current_user) %></h4>
    
    <div class="messages_container">
      <%= turbo_frame_tag "messages" do %>
        <% @chat.messages.each do |message| %>
          <%= render "messages/message", message: message, position: "#{message.sender.id == current_user.id ? "right_position" : "left_position" }", animate: false %>
        <% end %>
      <% end %>
      <p id="bottom" style="height: 0; margin: 0; padding: 0;"></p>
    </div>

    <%= turbo_frame_tag "message_form" do %>
      <%= render "chats/message_form", message: current_user.sent_messages.new, receiver_id: @chat.id %>
    <% end %>
  </main>
<% end %>